@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer components {
  .product-grid {
    display: grid;
    /* Reduzir o tamanho mínimo das colunas */
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    /* Reduzir o espaçamento entre os cards */
    gap: 0.1rem;
    /* Reduzir o padding externo */
    padding: 0.1rem;
  }

  .product-card {
    @apply text-xs sm:text-sm p-1 sm:p-1 max-w-[50px];
  }

  .low-stock-alert {
    @apply p-1.5 text-xs border-l-2 border-red-500 bg-red-50 dark:bg-red-950/10;
  }
}